<div    [id]="id" 
    class="collapse" 
    [attr.aria-labelledby]="labelled"
    data-parent="#UserInfo">
    
    
    <!-- Nickname user form -->
    <hr class="b-4" *ngIf="!isAdmin()">
    <form
        [formGroup]="nicknameForm" 
        (ngSubmit)="changeNickname()" *ngIf="!isAdmin()">
        <div class="form-group row">
            <label class="col-lg-4 col-form-label">Nombre de usuario</label>
            <div class="col-lg-8">
                <input type="text"
                    class="form-control text-center"
                    placeholder="Tu nuevo nombre de usuario"
                    formControlName="nickname"
                    [readonly]="isAdmin()"
                    [ngClass]="{'is-invalid': !nicknameForm.controls['nickname'].pristine && nicknameForm.controls['nickname'].errors}">
                </div>

        </div>
        
        <div class="row justify-content-center mt-3">
            <div class="col-12">
                <button class="btn btn-outline-dark mb-2 w-100" 
                    type="submit" 
                    [disabled]="!nicknameForm.valid || nicknameForm.controls['nickname'].pristine"
                >Cambiar nombre de usuario</button>
            </div> 
        </div>
    </form>
    
    <small class="text-danger"
        *ngIf="nicknameForm.controls['nickname'].errors && 
        !nicknameForm.controls['nickname'].pristine && 
        nicknameForm.controls['nickname'].errors.required"
    >Campo obligatorio.</small>
    <small class="text-danger"
        *ngIf="nicknameForm.controls['nickname'].errors && 
        !nicknameForm.controls['nickname'].pristine && 
        nicknameForm.controls['nickname'].errors.minlength"
    >Mínimo de 4 caracteres.</small>
    <small class="text-danger"
        *ngIf="nicknameForm.controls['nickname'].errors && 
        !nicknameForm.controls['nickname'].pristine && 
        nicknameForm.controls['nickname'].errors.maxlength"
    >Máximo de 20 caracteres.</small>
    <small class="text-danger"
          *ngIf="nicknameForm.controls['nickname'].errors && 
                !nicknameForm.controls['nickname'].pristine && 
                nicknameForm.controls['nickname'].errors.pattern"
    >El nombre de usuario solo permite letras, números, barra baja y guión.<br></small>

    <!-- Password user form  -->
    <hr class="b-4">
    <form [formGroup]="passwordForm" (ngSubmit)="changePassword()">
        <div class="form-group row">
            <label class="col-lg-4 col-form-label">Antigua contraseña</label>
            <div class="col-lg-8">
                <input type="password"
                    class="form-control mb-2"
                    placeholder="Antigua contraseña"
                    formControlName="oldPassword"
                    autocomplete="off">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-lg-4 col-form-label">Nueva contraseña 
                <app-icon [Icon]="icon_eye" (click)="watchPassword()" #changeUserPasswordEye></app-icon>
            </label>
            <div class="col-lg-8">
                <input type="{{passwordType}}"
                    (keyup)="equalPassword()"
                    class="form-control mb-2"
                    placeholder="Nueva contraseña"
                    formControlName="newPassword"
                    autocomplete="off">
                <small class="text-danger"
                    *ngIf="passwordForm.controls['newPassword'].errors && 
                    !passwordForm.controls['newPassword'].pristine && 
                    passwordForm.controls['newPassword'].errors.minlength"
                >Mínimo de 8 caracteres.<br></small>
                <small class="text-danger"
                    *ngIf="passwordForm.controls['newPassword'].errors && 
                    !passwordForm.controls['newPassword'].pristine && 
                    passwordForm.controls['newPassword'].errors.maxlength"
                ><br>Máximo de 50 caracteres<br></small>
                <small class="text-danger"
                    *ngIf="passwordForm.controls['newPassword'].errors && 
                    !passwordForm.controls['newPassword'].pristine && 
                    passwordForm.controls['newPassword'].errors.pattern"
                >Debe tener almenos una mayúscula, una minúscula y un número.<br></small>
                <small class="text-danger"
                    *ngIf=" !passwordForm.controls['newPassword'].pristine && 
                            !passwordForm.controls['repeatPassword'].pristine && 
                            !equalPasswords"
                >Las contraseñas no coinciden.<br></small>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-lg-4 col-form-label">Repetir contraseña</label>
            <div class="col-lg-8">
                <input type="{{passwordType}}"
                    (keyup)="equalPassword()"
                    class="form-control mb-2"
                    placeholder="Repite la contraseña"
                    formControlName="repeatPassword"
                    autocomplete="off">
            </div>
        </div>
        <div class="row justify-content-center mt-4">
            <div class="col-12">
                <button class="btn btn-outline-dark mb-2 w-100" type="submit" 
                    [disabled]="!passwordForm.valid || !equalPasswords"
                >Cambiar contraseña</button>
            </div> 
        </div>
    </form>



    <!-- Profile img form -->
    <hr class="b-4" *ngIf="!isAdmin()">
    <form class="custom-file"
        [formGroup]="imageForm" 
        (ngSubmit)="changeImg()" *ngIf="!isAdmin()">

        <input type="file" 
            class="custom-file"
            formControlName="userImage"
            (change)="loadFile($event)"
            value="Selecciona una imagen"
            id="newUserFileInput">

        <label class="custom-file-label" for="newUserFileInput">Selecciona una nueva foto de perfil</label>
        <div class="row justify-content-center mt-3">
            <div class="col-12">
                    <button class="btn btn-outline-dark mb-2 w-100" 
                    [disabled]="!imageForm.valid || isAdmin()">Cambiar foto de perfil</button>
            </div> 
        </div>
    </form>

    <!-- Delete account -->
    <hr class="b-4" *ngIf="!isAdmin()">
    <button class="btn btn-danger w-100" (click)="openAlert()" [disabled]="isAdmin()" *ngIf="!isAdmin()">
        Eliminar cuenta
    </button>
    
</div>