<h1 class="display-4">{{groupName}}  
    <app-icon   [Icon]="icon_ball"
                *ngIf="groupType == false">
    </app-icon>
    <app-icon   [Icon]="icon_paper"
                *ngIf="groupType == true">
    </app-icon>
</h1>
<div class="row w-100">
    <div class="col-xl-10  col-sm-12 mb-4">
        <button class="btn btn-outline-info w-100 mb-3" *ngIf="role=='GROUP_MAKER'">Crear apuesta</button>
        <app-group-bet></app-group-bet>
    </div>
    <div class="col-xl-2 col-sm-12">
        <app-group-users [members]="members"></app-group-users>
    </div>
</div>
