<h1 class="display-4 mb-5">{{groupName}}  <app-icon [Icon]="icon_ball"></app-icon></h1>

<ul class="nav justify-content-end">
    <li class="nav-item">
        <a class="nav-link active" [ngClass]="{'text-danger': coins<=0}">
            {{coins}}
            <app-icon [Icon]="icon_coin"></app-icon>
        </a>
    </li>
</ul>

<nav>
    <div class="nav nav-tabs flex-column flex-sm-row mb-2" role="tablist">
        <a  class="nav-item nav-link active" 
            id="nav_group_news_tab" data-toggle="tab" 
            href="#nav_group_news" role="tab" 
            aria-controls="nav_group_news" aria-selected="true">Noticias</a>
        <a  class="nav-item nav-link" 
            id="nav_group_bets_tab" data-toggle="tab" 
            href="#nav_group_bets" role="tab" 
            aria-controls="nav_group_bets" aria-selected="true">Nuevas apuestas</a>
        <a  class="nav-item nav-link" 
            id="nav_group_own_active_bets_tab" data-toggle="tab" 
            href="#nav_group_own_active_bets" role="tab" 
            aria-controls="nav_group_own_active_bets" aria-selected="false">Apuestas activas</a>
        <a  class="nav-item nav-link" 
            id="nav_group_manage_bet_tab" data-toggle="tab" 
            href="#nav_group_manage_bet" role="tab"  *ngIf="role == 'GROUP_MAKER'"
            aria-controls="nav_group_manage_bet" aria-selected="true">Gestionar apuestas</a>
        <a  class="nav-item nav-link" 
            id="nav_group_history_tab" data-toggle="tab" 
            href="#nav_group_history" role="tab" 
            aria-controls="nav_group_history" aria-selected="true">Historial</a>
        <a  class="nav-item nav-link" 
            id="nav_group_members_tab" data-toggle="tab" 
            href="#nav_group_members" role="tab" 
            aria-controls="nav_group_members" aria-selected="false">Miembros</a>
        <a  class="nav-item nav-link" 
            id="nav_group_options_tab" data-toggle="tab" 
            href="#nav_group_options" role="tab" 
            aria-controls="nav_group_options" aria-selected="false"
            *ngIf="role == 'GROUP_MAKER'">Opciones</a>
        <a  class="nav-item nav-link" 
            id="nav_group_info_tab" data-toggle="tab" 
            href="#nav_group_info" role="tab" 
            aria-controls="nav_group_info" aria-selected="false">Info</a>
    </div>
</nav>
<div class="tab-content">
    <div class="tab-pane fade show active" id="nav_group_news" role="tabpanel" aria-labelledby="nav_group_news_tab">
        <app-home-viewer [news]="news"></app-home-viewer>
    </div>
    <div class="tab-pane fade show" id="nav_group_bets" role="tabpanel" aria-labelledby="nav_group_bets_tab">
        <app-launched-bets></app-launched-bets>
    </div>
    <div class="tab-pane fade" id="nav_group_own_active_bets" role="tabpanel" aria-labelledby="nav_group_own_active_bets_tab">
        <app-my-own-football-bets></app-my-own-football-bets>
    </div>
    <div class="tab-pane fade" id="nav_group_manage_bet" role="tabpanel" aria-labelledby="nav_group_manage_bet_tab" *ngIf="role == 'GROUP_MAKER'">
        <app-manage-football-bet></app-manage-football-bet>
    </div>
    <div class="tab-pane fade" id="nav_group_history" role="tabpanel" aria-labelledby="nav_group_history_tab">
        <app-football-bet-history></app-football-bet-history>
    </div>
    <div class="tab-pane fade" id="nav_group_members" role="tabpanel" aria-labelledby="nav_group_members_tab">
        <app-group-users></app-group-users>
    </div>
    <div class="tab-pane fade" id="nav_group_options" role="tabpanel" aria-labelledby="nav_group_options_tab" *ngIf="role == 'GROUP_MAKER'">
        <app-group-settings></app-group-settings>
    </div>
    <div class="tab-pane fade" id="nav_group_info" role="tabpanel" aria-labelledby="nav_group_info_tab">
        <app-group-info></app-group-info>
    </div>
</div>