<h1 class="display-4 mb-5">{{groupName}}  
    <app-icon   [Icon]="icon_ball"
                *ngIf="groupType == false">
    </app-icon>
    <app-icon   [Icon]="icon_paper"
                *ngIf="groupType == true">
    </app-icon>
</h1>

<ul class="nav justify-content-end" *ngIf="!groupType">
    <li class="nav-item">
        <a class="nav-link active">
            {{coins}}
            <app-icon   [Icon]="icon_coin"
                *ngIf="groupType == false">
            </app-icon>
        </a>
    </li>
</ul>

<nav>
    <div class="nav nav-tabs flex-column flex-sm-row mb-2" role="tablist">
        <a  class="nav-item nav-link active" 
            id="nav_group_bets_tab" data-toggle="tab" 
            href="#nav_group_history" role="tab" 
            aria-controls="nav_group_history" aria-selected="true">History</a>
        <a  class="nav-item nav-link" 
            id="nav_group_bets_tab" data-toggle="tab" 
            href="#nav_group_bets" role="tab" 
            aria-controls="nav_group_bets" aria-selected="true">Bet</a>
        <a  class="nav-item nav-link" 
            id="nav_group_members_tab" data-toggle="tab" 
            href="#nav_group_members" role="tab" 
            aria-controls="nav_group_members" aria-selected="false">Members</a>
        <a  class="nav-item nav-link" 
            id="nav_group_options_tab" data-toggle="tab" 
            href="#nav_group_options" role="tab" 
            aria-controls="nav_group_options" aria-selected="false"
            *ngIf="role == 'GROUP_MAKER'">Options</a>
        <a  class="nav-item nav-link" 
            id="nav_group_info_tab" data-toggle="tab" 
            href="#nav_group_info" role="tab" 
            aria-controls="nav_group_info" aria-selected="false">Info</a>
    </div>
</nav>
<div class="tab-content">
    <div class="tab-pane fade show active" id="nav_group_history" role="tabpanel" aria-labelledby="nav_group_members_tab">
            <!-- <app-group-bet></app-group-bet> -->
    </div>
    <div class="tab-pane fade" id="nav_group_bets" role="tabpanel" aria-labelledby="nav_group_bets_tab">
        <button class="btn btn-outline-dark w-100 mb-2" *ngIf="role=='GROUP_MAKER' && !groupType" type="button" data-toggle="collapse" 
                data-target="#collapse_createNewBet" aria-expanded="false" aria-controls="collapse_createNewBet" id="launchFootBallBetButton">
            Launch new bet
        </button>
        <div class="collapse" id="collapse_createNewBet" *ngIf="!groupType">
            <div class="card card-body mb-3">
                <app-football-bet></app-football-bet>
            </div>
        </div>
        <app-launched-bets></app-launched-bets>
    </div>
    <div class="tab-pane fade" id="nav_group_members" role="tabpanel" aria-labelledby="nav_group_members_tab">
        <app-group-users></app-group-users>
    </div>
    <div class="tab-pane fade" id="nav_group_options" role="tabpanel" aria-labelledby="nav_group_options_tab" *ngIf="role == 'GROUP_MAKER'">
        <app-group-settings></app-group-settings>
    </div>
    <div class="tab-pane fade" id="nav_group_info" role="tabpanel" aria-labelledby="nav_group_info_tab">
        <app-group-info></app-group-info>
    </div>
</div>