<small>Por razones de seguridad debes introducir una contraseña. Esta no es una 
      contraseña de inicio de sesión, es una forma de confirmar en el futuro que
    eres tu quien está intentando realizar ciertas acciones.<br>
</small>
<form [formGroup]="socialPasswordForm" (ngSubmit)="setPassword()">
  <div class="form-group">
        <label>Tu Contraseña
              <app-icon [Icon]="icon_eye" (click)="watchPassword()"></app-icon>
        </label>
        <input type="{{passwordType}}" 
              (keyup)="equalPassword()"
              class="form-control mb-2" 
              placeholder="Tu contraseña"
              formControlName="password"
              autocomplete=off
              [ngClass]="{'is-invalid': !socialPasswordForm.controls['password'].pristine && 
                          socialPasswordForm.controls['password'].errors}">
        <input type="{{passwordType}}" 
              (keyup)="equalPassword()"
              class="form-control" 
              placeholder="Repetir contraseña"
              formControlName="repeatPassword"
              autocomplete=off
              [ngClass]="{'is-invalid': !socialPasswordForm.controls['password'].pristine && 
                          !equalPasswords}">
        <small class="text-danger"
              *ngIf="socialPasswordForm.controls['password'].errors && 
                    !socialPasswordForm.controls['password'].pristine && 
                    socialPasswordForm.controls['password'].errors.minlength"
        >Mínimo 8 caracteres<br></small>
        <small class="text-danger"
              *ngIf="socialPasswordForm.controls['password'].errors && 
                    !socialPasswordForm.controls['password'].pristine && 
                    socialPasswordForm.controls['password'].errors.maxlength"
        ><br>Máximo de 50 caracteres<br></small>
        <small class="text-danger"
              *ngIf="socialPasswordForm.controls['password'].errors && 
                    !socialPasswordForm.controls['password'].pristine && 
                    socialPasswordForm.controls['password'].errors.pattern"
        >La contraseña debe tener al menos una mayuscula, una minuscula y un número<br></small>
        <small class="text-danger"
              *ngIf=" !socialPasswordForm.controls['password'].pristine && 
                        !socialPasswordForm.controls['repeatPassword'].pristine &&
                        !equalPasswords"
        >Las contraseñas no coinciden</small>
  </div>
      <div class="row justify-content-center mt-4">
            <div class="col-12">
                  <button type="submit" class="btn btn-outline-dark w-100" 
                          [disabled]="!socialPasswordForm.valid || !equalPasswords">Establecer contraseña</button>
            </div> 
      </div>
</form>