<div class="row" id="signUpFormId">
      <div class="col-xl-8 mx-auto ">
            <div class="card">
                  <div class="card-body">
                        <h6 class="card-title text-center">Registro</h6>
                        <form [formGroup]="signUpForm" (ngSubmit)="signUp()">
                              <div class="form-group">
                                    <label>Correo electrónico</label>
                                    <input type="email" 
                                          class="form-control" 
                                          placeholder="Tu correo electrónico"
                                          formControlName="email"
                                          autocomplete=on
                                          [ngClass]="{'is-invalid': !signUpForm.controls['email'].pristine && 
                                                      signUpForm.controls['email'].errors}">
                                    <small class="text-danger"
                                          *ngIf="signUpForm.controls['email'].errors && 
                                                !signUpForm.controls['email'].pristine && 
                                                signUpForm.controls['email'].errors.required"
                                    >Campo obligatorio</small>
                                    <small class="text-danger"
                                          *ngIf="signUpForm.controls['email'].errors && 
                                          !signUpForm.controls['email'].pristine && 
                                          signUpForm.controls['email'].errors.email"
                                    >Email no valido</small>
                              </div>
                              <div class="form-group">
                                    <label>Nombre de usuario</label>
                                    <input type="text" 
                                          class="form-control" 
                                          placeholder="Tu nombre de usuario"
                                          formControlName="username"
                                          autocomplete=on
                                          [ngClass]="{'is-invalid': !signUpForm.controls['username'].pristine && 
                                                      signUpForm.controls['username'].errors}">
                                    <small class="text-danger"
                                          *ngIf="signUpForm.controls['username'].errors && 
                                                !signUpForm.controls['username'].pristine && 
                                                signUpForm.controls['username'].errors.required"
                                    >Campo obligatorio</small>
                                    <small class="text-danger"
                                          *ngIf="signUpForm.controls['username'].errors && 
                                                !signUpForm.controls['username'].pristine && 
                                                signUpForm.controls['username'].errors.minlength"
                                    >Mínimo de 4 caracteres.</small>
                                    <small class="text-danger"
                                          *ngIf="signUpForm.controls['username'].errors && 
                                                !signUpForm.controls['username'].pristine && 
                                                signUpForm.controls['username'].errors.maxlength"
                                    >Máximo de 20 caracteres.</small>
                              </div>
                              <div class="form-group">
                                    <label>Contraseña 
                                          <app-icon [Icon]="icon_eye" (click)="watchPassword()"></app-icon>
                                    </label>
                                    <input type="{{passwordType}}" 
                                          (keyup)="equalPassword()"
                                          class="form-control mb-2" 
                                          placeholder="Tu contraseña"
                                          formControlName="password"
                                          autocomplete=off
                                          [ngClass]="{'is-invalid': !signUpForm.controls['password'].pristine && 
                                                      signUpForm.controls['password'].errors}">
                                    <input type="{{passwordType}}" 
                                          (keyup)="equalPassword()"
                                          class="form-control" 
                                          placeholder="Repite la contraseña"
                                          formControlName="repeatPassword"
                                          autocomplete=off
                                          [ngClass]="{'is-invalid': !signUpForm.controls['password'].pristine && 
                                                      !passwordsAreEqual}">
                                    <small class="text-danger"
                                          *ngIf="signUpForm.controls['password'].errors && 
                                                !signUpForm.controls['password'].pristine && 
                                                signUpForm.controls['password'].errors.minlength"
                                    >Mínimo 8 caracteres<br></small>
                                    <small class="text-danger"
                                          *ngIf="signUpForm.controls['password'].errors && 
                                                !signUpForm.controls['password'].pristine && 
                                                signUpForm.controls['password'].errors.maxlength"
                                    ><br>Máximo de 50 caracteres<br></small>
                                    <small class="text-danger"
                                          *ngIf="signUpForm.controls['password'].errors && 
                                                !signUpForm.controls['password'].pristine && 
                                                signUpForm.controls['password'].errors.pattern"
                                    >La contraseña debe tener al menos una mayuscula, una minuscula y un número<br></small>
                                    <small class="text-danger"
                                          *ngIf=" !signUpForm.controls['password'].pristine && 
                                                !signUpForm.controls['repeatPassword'].pristine &&
                                                !passwordsAreEqual"
                                    >Las contraseñas no coinciden</small>
                              </div>
                              <div class="row justify-content-center mt-4">
                                    <div class="col-12">
                                          <button type="submit" class="btn btn-outline-dark w-100" [disabled]="!signUpForm.valid || !passwordsAreEqual">Registrarse</button>
                                    </div> 
                              </div>
                        </form>
                        <hr>
                        <app-social-button [log]="false"></app-social-button>
                  </div>
            </div>
      </div>
</div>

