<button type="button" 
        id="passwordAlertButton" 
        style="display:none" 
        data-toggle="modal"  
        data-target="#passwordAlertMessage"
>Invisible button to launch the alert
</button>


<div class="modal fade" 
    tabindex="-1" 
    role="dialog" 
    aria-labelledby="modalAlertTitle" 
    aria-hidden="true"
    id="passwordAlertMessage"
    (focusin)="focusIn()"
    (focusout)="focusOut()">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">

        <p id="alertTextId"></p>
        
        <form [formGroup]="deleteForm">
            <div class="form-group">
                <input type="password" 
                      class="form-control"
                      placeholder="Your password"
                      class="form-control-file"
                      formControlName="password"
                      autocomplete="off">
            </div>
            
            <button class="btn btn-danger w-100" 
                    type="submit" 
                    id="DELETEACCOUNT"
                    (click)="deleteAccount()"
            >Eliminar cuenta</button>


            <button class="btn btn-danger w-100" 
                    type="submit" 
                    id="DELETEGROUP"
                    (click)="deleteGroup()"
            >Eliminar grupo</button>
          </form>

          <button type="button" 
                  id="hidePasswordAlertButton" 
                  style="display:none" 
                  data-dismiss="modal"  
                  data-target="#passwordAlertMessage"
          >Invisible button to hide the alert</button>

      </div>
    </div>
  </div>
</div>