<small>Saldrás de todos los grupos en los que estés. Y tendrás una semana para volver a iniciar sesión y cancelar 
  la eliminación de tu cuenta. Una vez pasado ese tiempo todos tus datos serán eliminados.
</small>
<form class="mt-3" [formGroup]="deleteAccountForm">
  <div class="form-group">
      <input type="password" 
            class="form-control"
            placeholder="Tu contraseña"
            formControlName="password"
            autocomplete="off">
  </div>
  

  <button class="btn btn-danger w-100" 
          (click)="deleteAccount()"
          type="submit"
          [disabled]="!deleteAccountForm.valid"
  >Eliminar cuenta</button>
</form>