<div class="card mt-5" >
  <div class="row no-gutters" *ngIf="_user">
    <div class="col-md-4">
      <!-- TODO poner la verdadera imagen del usuario si la tiene -->
      <img [src]="'assets/imgs/defaultUser.png'" class="card-img p-1" *ngIf="_user.img==null">
      <img src="https://estaticos.elperiodico.com/resources/jpg/7/7/quien-rercibio-movil-imagen-del-famoso-negro-whatsapp-1477636045577.jpg"
           class="card-img p-1" *ngIf="_user.img!=null">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h4 class="card-title">{{_user.nickname}}</h4>
        <p class="card-text">{{_user.email}}</p>
        <small class="text-muted">{{_user.timeSignUp | onlyDatePipe}} </small>
        <hr class="">

        <div class="row " id="UserInfo">
          <div class="col-6">
            <span class="btn btn-outline-secondary w-100"
                  id="headingOne" 
                  data-toggle="collapse" 
                  data-target="#collapseOne" 
                  aria-expanded="true" 
                  aria-controls="collapseOne"
            >Grupos</span>
          </div>
          <div class="col-6">
            <span class="btn btn-outline-secondary w-100"
                  id="headingTwo"
                  data-toggle="collapse" 
                  data-target="#collapseTwo" 
                  aria-expanded="false" 
                  aria-controls="collapseTwo"
            >Info</span>
          </div>
          <div class="col-12 pt-4">
            <app-user-groups 
                [id]="'collapseOne'"
                [labelled]="'headingOne'">
            </app-user-groups>
            <app-user-info-form
              [id]="'collapseTwo'"
              [labelled]="'headingTwo'"
              [nickname]="_user.nickname">
            </app-user-info-form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>