<div class="accordion" id="betsHistoryAccordion" *ngIf="betsHistory.length>0">
  <div class="card" *ngFor="let bet of betsHistory; let i = index" style="cursor: default">
    <div class="card-header" id="headingHistoryBet{{i}}" 
        data-toggle="collapse" [attr.data-target]="'#collapseBetsHistory'+i" 
        aria-expanded="false" [attr.aria-controls]="'#collapseBetsHistory'+i">

      <h3>{{bet.bet.betName}} <small>{{bet.bet.fullTimeHomeGoals}} - {{bet.bet.fullTimeAwayGoals}}</small></h3> 
      <small class="font-italic">{{bet.bet.competition}}  ({{bet.bet.matchdayDate|onlyDatePipe}})</small>
    </div>

    <div id="collapseBetsHistory{{i}}" class="collapse hide" 
          [attr.aria-labelledby]="'headingHistoryBet'+i" data-parent="#betsHistoryAccordion">
      <div class="card card-body">
        <app-football-bet-card-info [bet]="bet.bet"></app-football-bet-card-info>
        <div *ngFor="let otherUser of bet.users; let ii = index">
          <div class="card ml-3 mr-3 mt-2">
            <div class="card-header"
                id="headingOtherUserBets_{{i}}_{{ii}}"
                data-toggle="collapse"
                [attr.data-target]="'#collapseBetsHistoryOtherUser_'+i+'_'+ii" 
                aria-expanded="false" 
                [attr.aria-controls]="'#collapseBetsHistoryOtherUser_'+i+'_'+ii">
              <div class="row">
                <div class="col-lg-9 col-12"><h5>{{otherUser.username}}</h5></div>
                <div class="col-lg-3 col-12 text-right"> <span *ngIf="otherUser.winner"><h6 class="text-success">WINNER</h6></span></div>
              </div>
            </div>
            <div  id="collapseBetsHistoryOtherUser_{{i}}_{{ii}}" 
                  class="collapse hide" [attr.aria-labelledby]="'headingOtherUserBets_'+i+'_'+ii">
                <div class="card card-body">
                  <app-user-football-bet-card-info [userBet]="otherUser.bets" [ended]="true"
                      [footballBet]="bet.bet"></app-user-football-bet-card-info>
                </div>
            </div>
          </div>
        </div>
        <div class="card ml-3 mr-3 mt-2">
          <div class="card-header"
              id="headingOwnUserBet_{{i}}"
              data-toggle="collapse"
              [attr.data-target]="'#collapseOwnBetsHistory_'+i" 
              aria-expanded="false" 
              [attr.aria-controls]="'#collapseOwnBetsHistory_'+i">
            <div class="row">
              <div class="col-lg-9 col-6"><h5>You</h5></div>
              <div class="col-lg-3 col-6 text-right"> <span *ngIf="bet.userWins"><h5 class="text-success">WINNER</h5></span></div>
            </div>
          </div>
          <div  id="collapseOwnBetsHistory_{{i}}" 
                class="collapse hide" [attr.aria-labelledby]="'headingOwnUserBet_'+i">
            <div class="card card-body">
              <app-user-football-bet-card-info [userBet]="bet.ownBet" [ended]="true"
                  [footballBet]="bet.bet"></app-user-football-bet-card-info>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="betsHistory.length == 0">
  <p class="h3">You haven't done any bet</p>
</div>