<!-- FORM WHEN THE GROUP HAS NO PASSWORD -->
<form [formGroup]="setFirstPasswordForm" (ngSubmit)="setFirstPassword()" *ngIf="!hasPassword">
  <div class="form-group row">
    <label class="col-lg-4 col-form-label">Contraseña</label>
    <div class="col-lg-8">
      <input type="password"
          (keyup)="equalPassword()"
          class="form-control mb-2"
          placeholder="Nueva contraseña"
          formControlName="newPassword"
          autocomplete="off">
      <small class="text-danger"
          *ngIf="setFirstPasswordForm.controls['newPassword'].errors && 
          !setFirstPasswordForm.controls['newPassword'].pristine && 
          setFirstPasswordForm.controls['newPassword'].errors.minlength"
      >Mínimo de 8 caracteres<br></small>
      <small class="text-danger"
          *ngIf="setFirstPasswordForm.controls['newPassword'].errors && 
          !setFirstPasswordForm.controls['newPassword'].pristine && 
          setFirstPasswordForm.controls['newPassword'].errors.maxlength"
      ><br>Máximo de 50 caracteres<br></small>
      <small class="text-danger"
          *ngIf="setFirstPasswordForm.controls['newPassword'].errors && 
          !setFirstPasswordForm.controls['newPassword'].pristine && 
          setFirstPasswordForm.controls['newPassword'].errors.pattern"
      >La contraseña debe tener al menos una mayuscula, una minuscula y un número<br></small>
      <small class="text-danger"
          *ngIf=" !setFirstPasswordForm.controls['newPassword'].pristine && !setFirstPasswordForm.controls['repeatPassword'].pristine 
                  && !equalPasswords"
      >Las contraseñas no coinciden<br></small>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-lg-4 col-form-label">Repetir contraseña</label>
    <div class="col-lg-8">
        <input type="password"
            (keyup)="equalPassword()"
            class="form-control mb-2"
            placeholder="Repite la contraseña"
            formControlName="repeatPassword"
            autocomplete="off">
    </div>
  </div> 
  <div class="row justify-content-center mt-1">
    <div class="col-12">
        <button class="btn btn-outline-dark mb-2 w-100" type="submit" 
            [disabled]="!setFirstPasswordForm.valid || !equalPasswords"
        >Establecer contraseña</button>
    </div> 
  </div>
</form>

<!-- FORM WHEN THE GROUP ALREADY HAS A PASSWORD -->
<form [formGroup]="rePasswordForm" (ngSubmit)="changePassword()" *ngIf="hasPassword">
  <div class="form-group row justify-content-md-center">
    <label class="col-lg-4 col-form-label">Antigua contraseña</label>
    <div class="col-lg-8">
      <input type="password"
          class="form-control mb-2"
          placeholder="Antigua contraseña"
          formControlName="oldPassword"
          autocomplete="off"
          [ngClass]="{'is-invalid': !rePasswordForm.controls['oldPassword'].pristine && rePasswordForm.controls['oldPassword'].errors}">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-lg-4 col-form-label">Nueva contraseña</label>
    <div class="col-lg-8">
      <input type="password"
          (keyup)="equalPassword()"
          class="form-control mb-2"
          placeholder="Nueva contraseña"
          formControlName="newPassword"
          autocomplete="off">
      <small class="text-danger"
          *ngIf="rePasswordForm.controls['newPassword'].errors && 
          !rePasswordForm.controls['newPassword'].pristine && 
          rePasswordForm.controls['newPassword'].errors.minlength"
      >Mínimo de 8 caracteres<br></small>
      <small class="text-danger"
          *ngIf="rePasswordForm.controls['newPassword'].errors && 
          !rePasswordForm.controls['newPassword'].pristine && 
          rePasswordForm.controls['newPassword'].errors.maxlength"
      ><br>Máximo de 50 caracteres<br></small>
      <small class="text-danger"
          *ngIf="rePasswordForm.controls['newPassword'].errors && 
          !rePasswordForm.controls['newPassword'].pristine && 
          rePasswordForm.controls['newPassword'].errors.pattern"
      >La contraseña debe tener al menos una mayuscula, una minuscula y un número<br></small>
      <small class="text-danger"
          *ngIf=" !rePasswordForm.controls['repeatPassword'].pristine && !rePasswordForm.controls['newPassword'].pristine 
                  && !equalPasswords"
      >Las contraseñas no coinciden<br></small>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-lg-4 col-form-label">Repetir contraseña</label>
    <div class="col-lg-8">
      <input type="password"
          (keyup)="equalPassword()"
          class="form-control mb-2"
          placeholder="Repetir contraseña"
          formControlName="repeatPassword"
          autocomplete="off">
    </div>
  </div> 
  <div class="row justify-content-center mt-1">
    <div class="col-12">
      <button class="btn btn-outline-dark mb-2 w-100" type="submit" 
              [disabled]="!rePasswordForm.valid || !equalPasswords"
      >Cambiar contraseña</button>
    </div> 
  </div>
</form>

<!-- DELETE DE ACCESS PASSWORD -->
<hr style="margin:40px" *ngIf="hasPassword">
<form [formGroup]="removePasswordForm" (ngSubmit)="removePassword()" *ngIf="hasPassword">
  <div class="form-group row justify-content-md-center">
    <label class="col-lg-4 col-form-label">Contraseña actual</label>
    <div class="col-lg-8 mt-1">
      <input class="form-control text-center mb-2"
              type="password"
              placeholder="Contraseña actual"
              formControlName="oldPassword"
              [ngClass]="{'is-invalid': !removePasswordForm.controls['oldPassword'].pristine && removePasswordForm.controls['oldPassword'].errors}">
    </div>
    <div class="col-12 mt-1">
      <button class="btn btn-outline-dark w-100" type="submit"
      [disabled]="!removePasswordForm.valid">Quitar contraseña</button>
    </div>
  </div>
</form>

<hr style="margin:40px">