<!-- FORM WHEN THE GROUP CAN PUT A PASSSWORD BUT NO HAVE ONE -->
<form [formGroup]="setFirstPasswordForm" (ngSubmit)="setFirstPassword()" *ngIf="!hasPassword && canPutPassword">
  <div class="form-group row">
    <label class="col-lg-3 col-form-label">New Password</label>
    <div class="col-lg-9">
      <input type="password"
          (keyup)="equalPassword()"
          class="form-control mb-2"
          placeholder="New password"
          formControlName="newPassword"
          autocomplete="off">
      <small class="text-danger"
          *ngIf="setFirstPasswordForm.controls['newPassword'].errors && 
          !setFirstPasswordForm.controls['newPassword'].pristine && 
          setFirstPasswordForm.controls['newPassword'].errors.minlength"
      >The password need to have at least 8 characters<br></small>
      <small class="text-danger"
          *ngIf="setFirstPasswordForm.controls['newPassword'].errors && 
          !setFirstPasswordForm.controls['newPassword'].pristine && 
          setFirstPasswordForm.controls['newPassword'].errors.maxlength"
      ><br>The password need to have less than 50 characters<br></small>
      <small class="text-danger"
          *ngIf="setFirstPasswordForm.controls['newPassword'].errors && 
          !setFirstPasswordForm.controls['newPassword'].pristine && 
          setFirstPasswordForm.controls['newPassword'].errors.pattern"
      >The password must have lowercase, uppercase and a special character<br></small>
      <small class="text-danger"
          *ngIf=" !setFirstPasswordForm.controls['newPassword'].pristine && !equalPasswords"
      >Boths passwords must be equal<br></small>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-lg-3 col-form-label">Repeat new password</label>
    <div class="col-lg-9">
        <input type="password"
            (keyup)="equalPassword()"
            class="form-control mb-2"
            placeholder="Repeat the new password"
            formControlName="repeatPassword"
            autocomplete="off">
    </div>
  </div> 
  <div class="row justify-content-center mt-1">
    <div class="col-12">
        <button class="btn btn-outline-dark mb-2 w-100" 
            type="submit" 
            [disabled]="!setFirstPasswordForm.valid"
        >Change password</button>
    </div> 
  </div>
</form>

<!-- FORM WHEN THE GROUP CAN PUT A PASSWORD AND ALREADY HAVE ONE -->
<form [formGroup]="rePasswordForm" (ngSubmit)="changePassword()" *ngIf="hasPassword && canPutPassword">
  <div class="form-group row justify-content-md-center">
    <label class="col-lg-3 col-form-label">Old Password</label>
    <div class="col-lg-9">
      <input type="password"
          class="form-control mb-2"
          placeholder="Old password"
          formControlName="oldPassword"
          autocomplete="off"
          [ngClass]="{'is-invalid': !rePasswordForm.controls['oldPassword'].pristine && rePasswordForm.controls['oldPassword'].errors}">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-lg-3 col-form-label">New Password</label>
    <div class="col-lg-9">
      <input type="password"
          (keyup)="equalPassword()"
          class="form-control mb-2"
          placeholder="New password"
          formControlName="newPassword"
          autocomplete="off">
      <small class="text-danger"
          *ngIf="rePasswordForm.controls['newPassword'].errors && 
          !rePasswordForm.controls['newPassword'].pristine && 
          rePasswordForm.controls['newPassword'].errors.minlength"
      >The password need to have at least 8 characters<br></small>
      <small class="text-danger"
          *ngIf="rePasswordForm.controls['newPassword'].errors && 
          !rePasswordForm.controls['newPassword'].pristine && 
          rePasswordForm.controls['newPassword'].errors.maxlength"
      ><br>The password need to have less than 50 characters<br></small>
      <small class="text-danger"
          *ngIf="rePasswordForm.controls['newPassword'].errors && 
          !rePasswordForm.controls['newPassword'].pristine && 
          rePasswordForm.controls['newPassword'].errors.pattern"
      >The password must have lowercase, uppercase and a special character<br></small>
      <small class="text-danger"
          *ngIf=" !rePasswordForm.controls['newPassword'].pristine && !equalPasswords"
      >Boths passwords must be equal<br></small>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-lg-3 col-form-label">Repeat new password</label>
    <div class="col-lg-9">
      <input type="password"
          (keyup)="equalPassword()"
          class="form-control mb-2"
          placeholder="Repeat the new password"
          formControlName="repeatPassword"
          autocomplete="off">
    </div>
  </div> 
  <div class="row justify-content-center mt-1">
    <div class="col-12">
      <button class="btn btn-outline-dark mb-2 w-100" 
          type="submit" 
          [disabled]="!rePasswordForm.valid"
      >Change password</button>
    </div> 
  </div>
</form>

<!-- DELETE DE ACCESS PASSWORD -->
<hr class="b-4" *ngIf="hasPassword && canPutPassword">
<form [formGroup]="removePasswordForm" (ngSubmit)="removePassword()" *ngIf="hasPassword && canPutPassword">
  <div class="form-group row justify-content-md-center">
    <label class="col-lg-3 col-form-label">Actual password</label>
    <div class="col-lg-6">
      <input class="form-control text-center mb-2"
              type="password"
              placeholder="Actual password"
              formControlName="oldPassword"
              [ngClass]="{'is-invalid': !removePasswordForm.controls['oldPassword'].pristine && removePasswordForm.controls['oldPassword'].errors}">
    </div>
    <div class="col-lg-3 col-12 mt-1">
      <button class="btn btn-outline-dark w-100" type="submit"
      [disabled]="!removePasswordForm.valid">Remove password</button>
    </div>
  </div>
</form>

<hr *ngIf="hasPassword && canPutPassword">