<div class="row">
      <div class="col-xl-6 mx-auto ">
            <div class="card">
                  <div class="card-body">
                        <h6 class="card-title text-center">Iniciar sesión</h6>
                        <form [formGroup]="logInForm" (ngSubmit)="logIn()">
                              <div class="form-group">
                                    <label>Correo electrónico</label>
                                    <input type="email" 
                                          class="form-control" 
                                          placeholder="Enter email"
                                          formControlName="email"
                                          autocomplete=on
                                          [ngClass]="{'is-invalid': !logInForm.controls['email'].pristine && 
                                                      logInForm.controls['email'].errors}">
                                    <small class="text-danger"
                                          *ngIf="logInForm.controls['email'].errors && 
                                                !logInForm.controls['email'].pristine && 
                                                logInForm.controls['email'].errors.required"
                                    >Campo obligatorio</small>
                                    <small class="text-danger"
                                          *ngIf="logInForm.controls['email'].errors && 
                                          !logInForm.controls['email'].pristine && 
                                          logInForm.controls['email'].errors.email"
                                    >Email no valido</small>
                              </div>
                              <div class="form-group">
                                    <label>Contraseña 
                                          <app-icon [Icon]="eye_icon"
                                                    (click)="watchPassword()">
                                          </app-icon>
                                    </label>
                                    <input type="{{passwordType}}" 
                                          class="form-control mb-2" 
                                          placeholder="Password"
                                          formControlName="password"
                                          autocomplete=off
                                          [ngClass]="{'is-invalid': !logInForm.controls['password'].pristine && 
                                                      logInForm.controls['password'].errors}">
                                    <small class="text-danger"
                                          *ngIf="logInForm.controls['password'].errors && 
                                                !logInForm.controls['password'].pristine && 
                                                logInForm.controls['password'].errors.minlength"
                                    >Mínimo 8 caracteres<br></small>
                                    <small class="text-danger"
                                          *ngIf="logInForm.controls['password'].errors && 
                                                !logInForm.controls['password'].pristine && 
                                                logInForm.controls['password'].errors.maxlength"
                                    ><br>Máximo de 50 caracteres<br></small>
                                    <small class="text-danger"
                                          *ngIf="logInForm.controls['password'].errors && 
                                                !logInForm.controls['password'].pristine && 
                                                logInForm.controls['password'].errors.pattern"
                                    >La contraseña debe tener al menos una mayuscula, una minuscula y un número<br></small>
                              </div>
                              <div class="row justify-content-center mt-4">
                                    <div class="col-12">
                                          <button type="submit" class="btn btn-outline-dark w-100" [disabled]="!logInForm.valid">Iniciar sesión</button>
                                    </div> 
                              </div>
                        </form>
                        <hr>
                        <app-social-button></app-social-button>
                        <hr>
                        <p class="text-center">
                              <a [routerLink]="['/rememberPassword']" >¿Has olvidado la contraseña?</a>                        
                        </p>
                  </div>
            </div>
      </div>
</div>