<div class="row">
      <div class="col-xl-6 mx-auto ">
            <div class="card">
                  <div class="card-body">
                        <h6 class="card-title text-center">Log In</h6>
                        <form [formGroup]="logInForm" (ngSubmit)="logIn()">
                              <div class="form-group">
                                    <label>Email address</label>
                                    <input type="email" 
                                          class="form-control" 
                                          placeholder="Enter email"
                                          formControlName="email"
                                          autocomplete=on
                                          [ngClass]="{'is-invalid': !logInForm.controls['email'].pristine && 
                                                      logInForm.controls['email'].errors}">
                                    <small class="text-danger"
                                          *ngIf="logInForm.controls['email'].errors && 
                                                !logInForm.controls['email'].pristine && 
                                                logInForm.controls['email'].errors.required"
                                    >The email is required</small>
                                    <small class="text-danger"
                                          *ngIf="logInForm.controls['email'].errors && 
                                          !logInForm.controls['email'].pristine && 
                                          logInForm.controls['email'].errors.email"
                                    >This is not supported email</small>
                              </div>
                              <div class="form-group">
                                    <label>Password 
                                          <app-icon firstIcon="fa-eye" secondIcon="fa-eye-slash"
                                                    changeColor=true changeIcon=true
                                                    (click)="watchPassword()">
                                          </app-icon>
                                    </label>
                                    <input type="{{passwordType}}" 
                                          class="form-control mb-2" 
                                          placeholder="Password"
                                          formControlName="password"
                                          autocomplete=off
                                          [ngClass]="{'is-invalid': !logInForm.controls['password'].pristine && 
                                                      logInForm.controls['password'].errors}">
                                    <small class="text-danger"
                                          *ngIf="logInForm.controls['password'].errors && 
                                                !logInForm.controls['password'].pristine && 
                                                logInForm.controls['password'].errors.minlength"
                                    >The password need to have at least 8 characters<br></small>
                                    <small class="text-danger"
                                          *ngIf="logInForm.controls['password'].errors && 
                                                !logInForm.controls['password'].pristine && 
                                                logInForm.controls['password'].errors.maxlength"
                                    ><br>The password need to have less than 50 characters<br></small>
                                    <small class="text-danger"
                                          *ngIf="logInForm.controls['password'].errors && 
                                                !logInForm.controls['password'].pristine && 
                                                logInForm.controls['password'].errors.pattern"
                                    >The password must have lowercase, uppercase and a special character<br></small>
                              </div>
                              <button type="submit" class="btn btn-primary" [disabled]="!logInForm.valid">Submit</button>
                              <!-- <button type="submit" class="btn btn-primary" >Submit</button> -->
                        </form>
                        <hr>
                        <app-social-button></app-social-button>
                  </div>
            </div>
      </div>
</div>