<div  class="btn w-100" 
      id="notificationsNavDropdown" 
      role="button" 
      data-toggle="dropdown" 
      aria-haspopup="true" 
      aria-expanded="false"
      style="cursor:pointer">
      <app-notifications-head [alwaysShow]=true></app-notifications-head>
</div>
<div class="dropdown-menu dropdown-menu-right mb-3 overflow-auto" aria-labelledby="notificationsNavDropdown" style="max-height: 400px">
  <button class="btn btn-outline-dark w-100 mb-2" (click)="readThemAll()" *ngIf="notifications.length>1">Leer todo</button>
  <div class="text-center border-top border-dark" style="cursor:pointer"
      *ngFor="let not of notifications; let i = index" (click)="watchNotification(not)"
  >{{not.message}}</div>
  <div class="dropdown-item text-center" style="cursor:context-menu"
        *ngIf="notifications.length==0">Sin notificationes</div>
</div>