<div  class="btn w-100" 
      id="notificationsNavDropdown" 
      role="button" 
      data-toggle="dropdown" 
      aria-haspopup="true" 
      aria-expanded="false"
      style="cursor:pointer">
      <app-notifications-head [alwaysShow]=true></app-notifications-head>
</div>
<div class="dropdown-menu dropdown-menu-right mb-3" aria-labelledby="notificationsNavDropdown">
  <div class="text-center" style="cursor:pointer" [ngClass]="{'border-top border-dark': i!=0}"
            *ngFor="let not of notifications; let i = index" 
            (click)="watchNotification(not)">{{not.message}}</div>
  <div class="dropdown-item text-center" style="cursor:context-menu"
        *ngIf="notifications.length==0">Sin notificationes</div>
</div>