<h1 class="display-4">Shop</h1>
<div class="row">
  <div class="col-xl-10  col-sm-12 mb-4">
    <div class="accordion" id="shopOfferts">
      <div *ngFor="let offer of offers; let i = index">
        <div class="card" style="cursor: default" *ngIf="offer.type==show || show=='All'">
          <div class="card-header" 
              id="headingShopItem{{i}}" 
              data-toggle="collapse" 
              [attr.data-target]="'#collapseShopItem'+i" 
              aria-expanded="false" 
              [attr.aria-controls]="'#collapseShopItem'+i">
            <div class="row">
              <div class="col">
                <h3>{{offer.name}}</h3>
              </div>
              <div class="col-2 text-right">
                <small class="font-italic">{{offer.price}} €</small>
              </div>
            </div>
          </div>

          <div id="collapseShopItem{{i}}" 
              class="collapse hide" 
              [attr.aria-labelledby]="'headingShopItem'+i" >
            <div class="card-body">
              <div class="row">
                <div class="col-xl-10 col-sm-12 mb-4">{{offer.description}}</div>
                <div class="col-xl-2 col-sm-12">
                  <button class="btn btn-info w-100">Buy!</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-2 col-sm-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let filter of filters; let i = index">
        <div class="form-check">
          <input  class="form-check-input" 
                  type="radio" 
                  name="offerFilter" 
                  id="offerFilter{{i}}" 
                  value="{{filter}}" 
                  [checked]="filter == show"
                  (click)="show = filter">
          <label class="form-check-label" for="offerFilter{{i}}" (click)="show = filter">{{filter}}</label>
        </div>
      </li>
    </ul>
  </div>
</div>