<div *ngIf="isAdmin()" class="mb-3">
    <form [formGroup]="publishNewForm" (ngSubmit)="launchNew()">
        <div class="row">
            <div class="col-lg-10 col-12 mb-2">
                <input type="text" class="form-control" 
                    formControlName="message" placeholder="Nueva noticia">
            </div>
            <div class="col-lg-2 col-12">
                <button class="btn btn-outline-dark w-100" [disabled]="!publishNewForm.valid">Publicar</button>
            </div>
        </div>
    </form>
</div>
<app-home-viewer [news]="news"></app-home-viewer>