 <div class="row">
  <div class="col-xl-6 mx-auto ">
        <div class="card">
              <div class="card-body">
                    <h6 class="card-title text-center mb-5">Cambia tu contraseña</h6>
                    <form [formGroup]="changePasswordForm" (ngSubmit)="resetPassword()">
                      <div class="form-group">
                            <label>Tu nueva contraseña
                                  <app-icon [Icon]="icon_eye" (click)="watchPassword()"></app-icon>
                            </label>
                            <input type="{{passwordType}}" 
                                  (keyup)="equalPassword()"
                                  class="form-control mb-2" 
                                  placeholder="Contraseña"
                                  formControlName="password"
                                  autocomplete=off
                                  [ngClass]="{'is-invalid': !changePasswordForm.controls['password'].pristine && 
                                              changePasswordForm.controls['password'].errors}">
                            <input type="{{passwordType}}" 
                                  (keyup)="equalPassword()"
                                  class="form-control" 
                                  placeholder="Repetir contraseña"
                                  formControlName="repeatPassword"
                                  autocomplete=off
                                  [ngClass]="{'is-invalid': !changePasswordForm.controls['password'].pristine && 
                                              !equalPasswords}">
                            <small class="text-danger"
                                  *ngIf="changePasswordForm.controls['password'].errors && 
                                        !changePasswordForm.controls['password'].pristine && 
                                        changePasswordForm.controls['password'].errors.minlength"
                            >Mínimo 8 caracteres<br></small>
                            <small class="text-danger"
                                  *ngIf="changePasswordForm.controls['password'].errors && 
                                        !changePasswordForm.controls['password'].pristine && 
                                        changePasswordForm.controls['password'].errors.maxlength"
                            ><br>Máximo de 50 caracteres<br></small>
                            <small class="text-danger"
                                  *ngIf="changePasswordForm.controls['password'].errors && 
                                        !changePasswordForm.controls['password'].pristine && 
                                        changePasswordForm.controls['password'].errors.pattern"
                            >La contraseña debe tener al menos una mayuscula, una minuscula y un número<br></small>
                            <small class="text-danger"
                                  *ngIf=" !changePasswordForm.controls['password'].pristine && 
                                        !equalPasswords"
                            >Las contraseñas no coinciden</small>
                      </div>
                          <div class="row justify-content-center mt-4">
                                <div class="col-12">
                                      <button type="submit" class="btn btn-outline-dark w-100" 
                                              [disabled]="!changePasswordForm.valid || !equalPasswords">Establecer contraseña</button>
                                </div> 
                          </div>
                    </form>
              </div>
        </div>
  </div>
</div> 