<div class="w-100" *ngIf="valid && !loading">
  <div *ngFor="let msg of messages" [ngClass]="{'text-right': msg.publicUserId == publicUserId}">
     <div *ngIf="msg.username!=''">
      <span class="badge"
          [ngClass]="{'badge-primary': publicUserId == msg.publicUserId,
          'badge-success': publicUserId!=msg.publicUserId}">{{msg.username}}</span>
      <p>{{msg.message}}</p>
    </div>
    <div *ngIf="msg.username==''" class="text-center">
      <small >{{msg.message}}</small>
    </div>
  </div>
  <hr class="m-0 mt-2 mb-2">
  <form [formGroup]="sendChatMessageForm" class="sticky-bottom form-group" (ngSubmit)="send()">
    <input class="form-control" style="font-size:14px" formControlName="message">
  </form>
</div>
<div *ngIf="!valid && !loading">
  There is not messages
</div>
<div *ngIf="loading" style="height:105px" class="text-center">
  <i class="fa fa-cog fa-spin fa-5x fa-fw align-middle"></i>
</div>


