<p>Estas seguro de que deseas cancelar el evento de apuesta?</p>
<p>Solo se pueden lanzar un número de apuestas limitadas a la semana,
  y aunque te regalamos una cancelación gratuita a la semana, el lanzar 
  una apuesta y luego cancelarla disminuye el número de apuestas que puedes
  lanzar en una semana.
  <br>Si algún miembro del grupo realizó alguna apuesta, las monedas que 
  apostó le serán devueltas.
</p>
<p>¿Sigues queriendo cancelar la apuesta?</p>
<div class="row mt-3">
  <div class="col-lg-6 col-12">
    <button class="btn btn-danger w-100" (click)="cancel()">Cancelar</button>
  </div>
</div>