<button type="button" 
        id="passwordAlertButtonWithPassword" 
        style="display:none" 
        data-toggle="modal"  
        data-target="#passwordAlertMessage"
        (click)="setPassword(true)"
>Invisible button to launch the alert withPasword
</button>
<button type="button" 
        id="passwordAlertButtonWithoutPassword" 
        style="display:none" 
        data-toggle="modal"  
        data-target="#passwordAlertMessage"
        (click)="setPassword(false)"
>Invisible button to launch the alert without password
</button>


<div class="modal fade" 
    tabindex="-1" 
    role="dialog" 
    aria-labelledby="modalAlertTitle" 
    aria-hidden="true"
    id="passwordAlertMessage"
    (focusin)="focusIn()"
    (focusout)="focusOut()">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">

        <p id="alertTextId"></p>
        
        <form [formGroup]="deleteForm" *ngIf="init || hasPassword">
          <div class="form-group">
              <input type="password" 
                    class="form-control"
                    placeholder="Your password"
                    class="form-control"
                    formControlName="password"
                    autocomplete="off">
          </div>
          
        
          <button class="btn btn-danger w-100" 
                  (click)="deleteAccount()"
                  type="submit"
                  id="DELETEACCOUNT"
                  [disabled]="!deleteForm.valid"
          >Eliminar cuenta</button>
  
  
          <button class="btn btn-danger w-100" 
                  (click)="deleteGroup()"
                  type="submit"
                  id="DELETEGROUP"
                  [disabled]="!deleteForm.valid"
          >Eliminar grupo</button>
        </form>
        
        <div *ngIf="init || !hasPassword">
          <button class="btn btn-danger w-100" 
                  (click)="deleteAccount()"
                  id="DELETEACCOUNTNOTPASSWORD"
          >Eliminar cuenta</button>
  
  
          <button class="btn btn-danger w-100" 
                  (click)="deleteGroup()"
                  id="DELETEGROUPNOTPASSWORD"
          >Eliminar grupo</button>
        </div>
        
        <button type="button" 
                id="hidePasswordAlertButton" 
                style="display: none" 
                data-dismiss="modal"  
        >Invisible button to hide the alert</button>

      </div>
    </div>
  </div>
</div>