<form [formGroup]="joinGroupForm" *ngIf="hasPassword">
  <div class="form-group">
      <input type="password" 
            class="form-control"
            placeholder="Contraseña de acceso al grupo"
            formControlName="password"
            autocomplete="off">
  </div>
  

  <button class="btn btn-danger w-100" 
          (click)="joinGroup()"
          type="submit"
          [disabled]="!joinGroupForm.valid"
  >Unirse al grupo</button>
</form>

<div *ngIf="!hasPassword">
  <button class="btn btn-danger w-100" 
          (click)="joinGroup()"
  >Unirse al grupo</button>
</div>