<form [formGroup]="joinGroupForm" *ngIf="hasPassword">
  <div class="form-group">
      <input type="password" 
            class="form-control"
            placeholder="The password to join the group"
            formControlName="password"
            autocomplete="off">
  </div>
  

  <button class="btn btn-danger w-100" 
          (click)="join()"
          type="submit"
          [disabled]="!joinGroupForm.valid"
  >Delete account</button>
</form>

<div *ngIf="!hasPassword">
  <button class="btn btn-danger w-100" 
          (click)="join()"
  >Join the group</button>
</div>