<div [id]="id" 
    class="collapse show" 
    [attr.aria-labelledby]="labelled"
    data-parent="#UserInfo">

    <div *ngFor="let group of groups" 
        class="card mb-3 w-100">
        <div class="card-header" 
            style="cursor:pointer"
            [routerLink]="['/group', group.name]"> 
            <h4 class="text-center">{{group.name}}
                <app-icon base="fas"
                            firstIcon="fa-futbol"
                            firstColor="#006400"
                            *ngIf="group.type == false">
                </app-icon>
                <app-icon base="fas"
                            firstIcon="fa-file-invoice"
                            firstColor="#00008B"
                            *ngIf="group.type == true">
                </app-icon>
            </h4>
        </div>
    </div>

</div>