<div class="row">
  <div class="text-center col-12">

    <h4 class="card-title">{{groupName}}</h4> 
    <i class="card-text">Aforo: {{actualCapacity}}/{{maxCapacity}}</i>
    <br>
    <i class="card-text">Creado: {{createDate | onlyDatePipe}}</i>
    <br>
    <i class="card-text">Pago mensual: {{weeklyPay}} <app-icon [Icon]="icon_coin"></app-icon></i>
  </div>
</div>
<hr>
<div class="row">
    <div class="text-center col-12">
  
    <h4 class="card-title">Tu</h4>
    <i class="card-text">Desde {{dateJoin | onlyDatePipe}}</i>
    <br>
    <i class="card-text">
      <app-icon [Icon]="icon_crown" *ngIf="role=='GROUP_MAKER'"></app-icon>
      <app-icon [Icon]="icon_wizard" *ngIf="role=='GROUP_ADMIN'"></app-icon>
      <app-icon [Icon]="icon_user" *ngIf="role=='GROUP_NORMAL'"></app-icon>
      desde {{dateRole | onlyDatePipe}}
    </i>
  </div>
</div>
<hr>
<div class="row justify-content-center">
  <div class="text-center col-sm-6 col-12">
    <button class="btn btn-danger w-100" (click)="leaveGroup()">Abandonar</button>
  </div>
</div>