<div class="row justify-content-center">
  <div class="col-sm-6 col-12">

    <h4 class="card-title">{{groupName}}</h4> 
    <i class="card-text">Capacity: {{actualCapacity}}/{{maxCapacity}}</i>
    <br>
    <i class="card-text">Creation date: {{createDate | onlyDatePipe}}</i>

  </div>
</div>
<hr>
<div class="row justify-content-center">
    <div class="col-sm-6 col-12">
  
    <h4 class="card-title">You</h4>
    <i class="card-text">Are joined here since {{dateJoin | onlyDatePipe}}</i>
    <br>
    <i class="card-text" *ngIf="dateJoin!=dateRole || role!='GROUP_NORMAL'"
      >Are with your actual role since {{dateRole | onlyDatePipe}}</i>
  </div>
</div>