<ul class="list-group">   
  <li class="list-group-item" *ngIf="groups.length==0">Sin grupos</li> 
  <li class="list-group-item" *ngIf="groups.length>0">
    <div class="row">
      <div class="col-lg-6 col-12 text-center">Nombre</div>
      <div class="col-lg-4 col-6 text-center">Rol y fecha</div>
      <div class="col-lg-2 col-6 text-center">Unión</div>
    </div>
  </li>
  <li class="list-group-item" *ngFor="let group of groups">
    <div class="row">
      <div class="col-12 text-left mb-2" *ngIf="group.blocked"><h5 class="text-danger">Bloqueado</h5></div>
      <div class="col-lg-6 col-12 text-center"><p>{{group.groupName}}</p></div>
      <div class="col-lg-4 col-6 text-center">
          <app-icon [Icon]="icon_user" *ngIf="group.role == 'GROUP_NORMAL'"></app-icon>
          <app-icon [Icon]="icon_crown" *ngIf="group.role=='GROUP_MAKER'"></app-icon>
          <app-icon [Icon]="icon_wizard" *ngIf="group.role=='GROUP_ADMIN'"></app-icon>
          &nbsp;&nbsp;{{group.roleTime | onlyDatePipe}}
      </div>
      <div class="col-lg-2 col-6 text-center">{{group.joinTime | onlyDatePipe}}</div>
    </div>
  </li>
</ul>