<form [formGroup]="createGroupForm">
  <div class="form-group">
    <label>Nombre del grupo</label>
    <input type="text" 
          class="form-control"
          placeholder="Your group name"
          class="form-control"
          formControlName="name"
          autocomplete="off">
    <small class="text-danger"
    *ngIf="createGroupForm.controls['name'].errors && 
          !createGroupForm.controls['name'].pristine && 
          createGroupForm.controls['name'].errors.required"
    >Campo obligatorio</small>
    <small class="text-danger"
          *ngIf="createGroupForm.controls['name'].errors && 
                !createGroupForm.controls['name'].pristine && 
                createGroupForm.controls['name'].errors.minlength"
    >Mínimo de 4 caracteres</small>
    <small class="text-danger"
          *ngIf="createGroupForm.controls['name'].errors && 
                !createGroupForm.controls['name'].pristine && 
                createGroupForm.controls['name'].errors.maxlength"
    >Máximo de 20 caracteres</small>
    <small class="text-danger"
          *ngIf="createGroupForm.controls['name'].errors &&
                createGroupForm.controls['name'].errors.groupNameTaken"
    >Nombre no disponible</small>
  </div> 

  <button class="btn btn-danger w-100 mt-2"
          (click)="createGroup()"
          id="createGroup"
          [disabled]="!createGroupForm.valid"
          data-target="#alertMessage"
  >Create group</button>

</form>