<table class="table">
  <thead class="thead-dark">
    <tr>
      <th >Search a group</th>
      <th ></th>
      <th >
          <input  class="form-control form-control-sm" 
                  type="search" 
                  placeholder="Search group" 
                  #groupname 
                  (keyup)="search(groupname.value)">
      </th>
    </tr>
  </thead>
</table>
<table class="table">
  <thead>
    <tr *ngFor="let group of groups">
        <td>{{ group.name }}</td>
        <td>    
          <app-icon   base="fas"
                      firstIcon="fa-futbol"
                      firstColor="#006400"
                      *ngIf="group.type == false">
          </app-icon>
          <app-icon   base="fas"
                      firstIcon="fa-file-invoice"
                      firstColor="#00008B"
                      *ngIf="group.type == true">
          </app-icon>
          &nbsp;
          <app-icon   base="fas"
                      firstIcon="fa-key"
                      firstColor="#FECA4E"
                      *ngIf="group.password == false">
          </app-icon>
        </td>
        <td>{{ group.placesOcupped }}/{{ group.totalPlaces }}</td>
    </tr>
  </thead>
</table>