<button type="button" 
        id="openButton" 
        style="display:none" 
        data-toggle="modal" 
        data-target="#alertId"
>Invisible button to launch the alert
</button>

<div class="modal fade" 
    tabindex="-1" 
    role="dialog" 
    aria-labelledby="modalAlertTitle" 
    aria-hidden="true"
    id="alertId"
    (focusin)="focusIn()"
    (focusout)="focusOut()">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="col-10">
              <p *ngFor="let msg of message">{{msg}}</p>
          </div>
          <div class="col-1 align-self-end">
            <app-icon firstIcon="fa-times-circle"
                      firstColor=#C75050 style="font-size:160%"
                      data-dismiss="modal">
            </app-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>