

#customBtn{
    display: inline-block;
    background: #4267b2;
    color: #e9ebee;
    width: 99%;
    border-radius: 5px;
    border: thin solid #888;
    box-shadow: 1px 1px 1px grey;
    white-space: nowrap;
}
#customBtn:hover {
    cursor: pointer;
}
span.label {
    font-family: Arial, Helvetica, sans-serif;
}
span.icon {
    background: url('/assets/imgs/facebook_icon.png') transparent 5px 50% no-repeat ;
    display: inline-block;
    vertical-align: middle;
    width: 15%;
    height: 42px;
}
span.buttonText {
    display: inline-block;
    vertical-align: middle;
    padding-left: 10%;
    font-size: 100%;
}