<nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbarId">
  <a class="navbar-brand" [routerLink]="['']" >
    <img src="/assets/imgs/VirtualBet.png" width="30" height="30" class="d-inline-block align-top">
    VirtualBet
  </a>
  <app-notifications-head [alwaysShow]=false *ngIf="width<992 && isAuthenticated()"></app-notifications-head>
  <button class="navbar-toggler" type="button" data-toggle="collapse" 
        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
        aria-expanded="false" aria-label="Toggle navigation" id="navHamburgerButton">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link disabled" 
          [routerLink]="['index']" 
        >Partidos </a>
      </li>
      <li class="nav-item dropdown" *ngIf="isAuthenticated() && notAdmin()" style="cursor:pointer">
        <a class="nav-link" id="groupMenu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{actualGroup}}
        </a>
        <div class="dropdown-menu" aria-labelledby="groupMenu">
          <a class="dropdown-item text-center" 
              [routerLink]="['group', group]" 
              *ngFor="let group of groups"
              disabled
          >{{group}} 
              <app-icon [Icon]="icon_ball"></app-icon>
          </a>
          <div class="dropdown-divider" *ngIf="groups.length>0"></div>
          <a class="dropdown-item text-center" (click)="openCreateGroupAlert()">Create group</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item text-center" [routerLink]="['joinNewGroup']">Join group</a>
        </div>
      </li>
      <li class="nav-item">
        <a  class="nav-link" 
            [routerLink]="['shop', 'All']" 
            *ngIf="isAuthenticated()" 
        >Shop </a>
      </li>    
      <li class="nav-item" *ngIf="isAuthenticated() && !notAdmin()">
        <a  class="nav-link" 
        [routerLink]="['searchGroup']" 
        >Grupos </a>
      </li>      
      <li class="nav-item" *ngIf="isAuthenticated() && !notAdmin()">
        <a  class="nav-link" 
            [routerLink]="['searchUser']" 
        >Usuarios </a>
      </li>  
      <li class="nav-item">
        <a  class="nav-link" 
            [routerLink]="['directMessages']" 
            *ngIf="isAuthenticated()" 
        ><div *ngIf="notAdmin()">Reportar error</div><div *ngIf="!notAdmin()">Mensajes de usuarios</div></a>
      </li>
      <li class="nav-item" *ngIf="notAdmin()">
        <a  class="nav-link disabled" 
            [routerLink]="['index']" 
        >Help </a>
      </li>
    </ul>
    <!-- Authentication Buttons -->
    <!-- LogIn & SignUp Buttons -->
    <ul class="navbar-nav" *ngIf="!isAuthenticated()">
      <li >
        <button class="btn btn-outline-success mr-2" 
          [routerLink]="['logIn']" 
          [ngClass]="{'w-45': width<992}"
        >Log In</button>
      </li>
      <li >
        <button class="btn btn-outline-info mr-2" 
          [routerLink]="['signUp']" 
          [ngClass]="{'w-45': width<992}"
        >Sign Up</button>
      </li>
    </ul>


    <!-- UserButtons -->
    <ul class="navbar-nav" *ngIf="isAuthenticated()">
      <li class="nav-item dropdown mr-2">
        <app-notifications-nav></app-notifications-nav>
      </li>
      <li class="nav-item dropdown">
        <div  class="btn btn-outline-secondary w-100" 
              id="groupsDropdown" 
              role="button" 
              data-toggle="dropdown" 
              aria-haspopup="true" 
              aria-expanded="false"
              style="cursor:pointer">
          {{username}}
        </div>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="groupsDropdown">
          <a class="dropdown-item text-center" 
            [routerLink]="['myUserInfo']" 
          >Options</a>
          <div class="dropdown-divider"></div>
          <button class="btn btn-outline-danger w-100 br-1 bl-1" 
              (click)="logOut()" 
          >Log out</button>
        </div>
      </li>
    </ul>
  </div>
</nav>