<nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbarId">
  <a class="navbar-brand" [routerLink]="['']" >
    <img src="https://getbootstrap.com/docs/4.3/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
    Home application
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link disabled" 
          [routerLink]="['index']" 
        >Apuestas <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" 
          [routerLink]="['index']" 
        >Partidos <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link " href="#" id="groupsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Grupo X
        </a>
        <div class="dropdown-menu" aria-labelledby="groupsDropdown">
          <a class="dropdown-item disabled" href="#">Grupo 1</a>
          <a class="dropdown-item disabled" href="#">Grupo 2</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item disabled" href="#">Crear grupo</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" 
          [routerLink]="['index']" 
        >Foro <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" 
          [routerLink]="['index']" 
        >Tienda <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" 
          [routerLink]="['index']" 
        >Help <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <!-- Authentication Buttons -->
    <div class="form-inline my-2 my-lg-0">
    <!-- logIn & SignUp Buttons  -->
      <div class="form-inline my-2 my-lg-0" *ngIf="true">
        <button class="btn btn-outline-success mr-sm-2" 
              [routerLink]="['logIn']" 
              type="button"
              *ngIf="!authS.isAuthenticated()"
        >Log In</button>
        <button class="btn btn-outline-info mr-sm-2" 
              [routerLink]="['signUp']" 
              type="button"
              *ngIf="!authS.isAuthenticated()"
        >Sign Up</button>
        <!-- User Buttons -->
        <div class="dropdown" *ngIf="authS.isAuthenticated()">
          <button class="btn btn-outline-secondary " type="button" id="userDropDownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Usuario
          </button>
          <div class="dropdown-menu dropdown-menu-right pr-1 pl-1" aria-labelledby="userDropDownMenu">
            <a class="dropdown-item" href="#">Options</a>
            <div class="dropdown-divider"></div>
            <button class="btn btn-outline-danger w-100" 
                    (click)="logOut()" 
                    *ngIf="authS.isAuthenticated()"
            >Log out</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>