<form [formGroup]="doAFootballBetForm" (ngSumit)="doBet()">
  <div class="row justify-content-md-center mb-2" *ngIf="show1X2">  
    <div class="col-4">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" value="1" formControlName="winner">
        <label class="form-check-label">1</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" value="X" formControlName="winner">
        <label class="form-check-label">X</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" value="2" formControlName="winner">
        <label class="form-check-label">2</label>
      </div> 
    </div>
  </div>

  <div *ngIf="!show1X2">
    <div class="row mb-2">
      <label class="col-sm-5 col-form-label">Home goals</label>
      <div class="col-sm-7">    
        <input type="number" class="form-control" placeholder="Home team goals" 
          formControlName="homeGoals" min=0 max=20>
      </div>
    </div>
    <div class="row mb-2">
      <label class="col-sm-5 col-form-label">Away goals</label>
      <div class="col-sm-7">    
        <input type="number" class="form-control" placeholder="Away team goals" 
            formControlName="awayGoals" min=0 max=20>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <div class="row">
        <div class="col-6">Your coins</div>
        <div class="col-6">
            {{user_coins-coins_bet}} <app-icon [Icon]="coin_icon"></app-icon>
        </div>
      </div>
        
    </div>
    <div class="col-6">
        <div class="row">
          <div class="col-8">Maximum gain</div>
          <div class="col-4">
              {{max_win}} <app-icon [Icon]="coin_icon"></app-icon>
            </div>
        </div>
    </div>
  </div>

  <input type="number" class="form-control" placeholder="Your bet" 
            formControlName="coinsBet" min={{min}} max={{max}} 
            (change)="setBetCoins()" (keyup)="setBetCoins()">
  <button class="btn btn-outline-dark w-100 mt-4" type="submit"
          [disabled]="!doAFootballBetForm.valid">Do the bet</button>
</form>
