<form [formGroup]="doAFootballBetForm" (ngSubmit)="doBet()">
  <!-- 1X2 -->
  <div class="row" *ngIf="show1X2">
    <div class="col-12 text-center mb-3"><h5>{{timeMessage}}</h5></div>
    <label class="col-6 col-form-label">Resultado </label>
    <div class="col-6 pt-2 pb-2">
      <div class="row justify-content-md-center">
        <div class="col-3">
          <div class="col-3 form-check form-check-inline">
            <input class="form-check-input" type="radio" value=1 formControlName="winner" (change)="setMessage()">
            <label class="form-check-label">1</label>
          </div>          
        </div>
        <div class="col-3">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" value=0 formControlName="winner" (change)="setMessage()">
            <label class="form-check-label">X</label>
          </div>
        </div>
        <div class="col-3">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" value=2 formControlName="winner" (change)="setMessage()">
            <label class="form-check-label">2</label>
          </div>   
        </div>
      </div>
    </div>
    <small class="text-center text-info w-100" *ngIf="info_winner_msg.length>0">{{info_winner_msg}}</small>
  </div>

  <!-- Home/Away goals -->
  <div *ngIf="!show1X2">
    <div class="col-12 text-center mb-3"><h5>{{timeMessage}}</h5></div>
    <div class="row mb-2">
      <label class="col-5 col-form-label">Equipo local</label>
      <div class="col-7">    
        <input type="number" class="form-control" placeholder="Goles" 
          formControlName="homeGoals" min=0 max=20>
      </div>
    </div>
    <div class="row mb-2">
      <label class="col-5 col-form-label">Equipo visitante</label>
      <div class="col-7">    
        <input type="number" class="form-control" placeholder="Goles" 
            formControlName="awayGoals" min=0 max=20>
      </div>
    </div>
  </div>

  <!-- USER COINS & POSSIBLE WIN -->
  <div class="row m-2 pt-1 pb-1 w-100">
    <div class="col-6 text-center">
        <small>Tendrás: {{user_coins-coins_bet}} <app-icon [Icon]="coin_icon"></app-icon></small>
    </div>
    <div class="col-6 text-center">
      <small *ngIf="!jackpotBet">Ganancia máxima: {{max_win}} <app-icon [Icon]="coin_icon"></app-icon></small>
      <small *ngIf="jackpotBet">Bote actual: {{jackpot}} <app-icon [Icon]="coin_icon"></app-icon></small>
    </div>   
  </div>

  <!-- Max/Min/Fee info -->
  <div class="row justify-content-center mb-3" *ngIf="!jackpotBet">
    <div class="col-4 text-center"><small>Mínimo: {{min}}<app-icon [Icon]="coin_icon"></app-icon></small></div>
    <div class="col-4 text-center"><small>Máximo: {{max}}<app-icon [Icon]="coin_icon"></app-icon></small></div>
    <div class="col-4 text-center"><small>Cuota: {{win_rate}}</small></div>
  </div>
  <!-- Your bet -->
  <div class="form-group row">
    <label class="col-4 col-form-label">Tu apuesta</label>
    <div class="col-8">  
      <!-- Custom bet -->
      <input type="number" class="form-control" min={{min}} max={{max_user}} *ngIf="!jackpotBet"
              formControlName="coinsBet" (change)="setBetCoins()" (keyup)="setBetCoins()">
      <!-- Entry bet -->
      <input type="text" class="form-control" formControlName="coinsBet" *ngIf="jackpotBet" readonly>
    </div>
  </div>

  <!-- SUBMIT BUTTON -->
  <button class="btn btn-outline-dark w-100 mt-1" type="submit"
          [disabled]="!doAFootballBetForm.valid">Apostar</button>
</form>
