<div class="row justify-content-around mb-4" *ngIf="bet.firstHalfHomeGoals!=null">
  <div class="col-lg-3 col-5">
      <div class="row justify-content-center">
        <div class="col-lg-7 col-md-7 col-sm-12 col-12">Primera parte</div>
        <div class="col-lg-5 col-md-5 col-sm-12 col-12">
          <input type="text" readonly class="form-control" value="{{bet.firstHalfHomeGoals}} - {{bet.firstHalfAwayGoals}}">
        </div>
      </div>
  </div>
  <div class="col-lg-3 col-5">
    <div class="row justify-content-center">
      <div class="col-lg-7 col-md-7 col-sm-12 col-12">Segunda parte</div>
      <div class="col-lg-5 col-md-5 col-sm-12 col-12">
        <input type="text" readonly class="form-control" value="{{bet.secondHalfHomeGoals}} - {{bet.secondHalfAwayGoals}}">
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-6 col-12 mt-3">
    <div class="row mb-1">
      <div [ngClass]="{'col-lg-6 col-12': !isJackpotBet(bet.typePay.name), 'col-12': isJackpotBet(bet.typePay.name)}">
        <div class="row">
          <div class="col-12 mb-2">Máximo dia para apostar</div>
          <div class="col-12">
            <input type="text" readonly class="form-control" value="{{bet.lastBetTime | chatTime}}">
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-12" *ngIf="!isJackpotBet(bet.typePay.name)">
        <div class="row">
          <div class="col-12 mb-2">Cuota </div>
          <div class="col-12">
            <input type="text" readonly class="form-control" value="{{bet.typeBet.winRate + bet.typePay.winRate}}">
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-3 mb-1">
      <div class="col-lg-6 col-12" *ngIf="!isJackpotBet(bet.typePay.name)">
        <div class="row">
          <div class="col-12 mb-2">Mínimo</div>
          <div class="col-12 mb-1">
            <input type="text" readonly class="form-control" value="{{bet.minBet}}">
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-12" *ngIf="!isJackpotBet(bet.typePay.name)">
        <div class="row">
          <div class="col-12 mb-2">Máximo</div>
          <div class="col-12 mb-1">
            <input type="text" readonly class="form-control" value="{{bet.maxBet==10001 ? 'No Max' : bet.maxBet}}">
          </div>
        </div>
      </div>
      <div class="col-12" *ngIf="isJackpotBet(bet.typePay.name)">
        <div class="row">
          <div class="col-12 mb-2">Precio de entrada</div>
          <div class="col-12 mb-1">
            <input type="text" readonly class="form-control" value="{{bet.minBet}}">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-12">
    <div class="row">
      <div class="col-12">
        <input type="text" readonly class="form-control" value="{{bet.typeBet.name}}">
      </div>
      <div class="col-12 mb-2 mt-2">
        <div class="card card-body">
          <p class="card-text">{{bet.typeBet.description}}</p>
        </div>
      </div>              
    </div>
  </div>
  <div class="col-lg-3 col-12">
    <div class="row">
      <div class="col-12">
        <input type="text" readonly class="form-control" value="{{bet.typePay.name}}">
      </div>
      <div class="col-12 mt-2">
        <div class="card card-body">
          <p class="card-text">{{bet.typePay.description}}</p>
        </div>
      </div>              
    </div>
  </div>
</div>
<div class="row justify-content-end mt-3" *ngIf="betId!='' && !ended && canBeCancelled">
  <div class="col-lg-4 col-12">
    <button class="btn btn-danger w-100" (click)="cancel()">Cancelar</button>
  </div>
</div>