<ul class="list-group">
  <div *ngFor="let member of members; let i = index">
    <li class="list-group-item text-center">{{member.userName}}
      <app-icon [Icon]="icon_crown" *ngIf="member.role=='GROUP_MAKER'"></app-icon>
      <app-icon [Icon]="icon_wizard" *ngIf="member.role=='GROUP_ADMIN'"></app-icon>
      
      
      <app-icon [Icon]="icon_info" class="float-right ml-2"
                data-toggle="collapse" [attr.href]="'#collapseGroupUserInfo'+i" 
                role="button" aria-expanded="false" [attr.aria-controls]="'collapseGroupUserInfo'+i"></app-icon>

      <app-icon [Icon]="icon_cog" class="float-right" 
                *ngIf="user_role!='GROUP_NORMAL' && member.role!='GROUP_MAKER' && user_role!=member.role" 
                data-toggle="collapse" [attr.href]="'#collapseGroupUserOptions'+i" 
                role="button" aria-expanded="false" [attr.aria-controls]="'collapseGroupUserOptions'+i"></app-icon>
    </li>
    
    <div class="collapse" [id]="'collapseGroupUserInfo'+i">
      <div class="card card-body">
        <p>Info-->{{i}}</p>
      </div>
    </div>


    <div class="collapse" [id]="'collapseGroupUserOptions'+i" 
        *ngIf="user_role!='GROUP_NORMAL' && member.role!='GROUP_MAKER' && user_role!=member.role">
      <div class="card card-body">
        <div class="row justify-content-center">
          <div class="col-6">
            <button class="btn btn-info w-100 mb-2" *ngIf="member.role != 'GROUP_ADMIN'"
                    (click)="manageAdmin(member.publicUserId, true)">Hacer admin</button>
            <button class="btn btn-info w-100 mb-2" *ngIf="member.role == 'GROUP_ADMIN'"
                    (click)="manageAdmin(member.publicUserId, false)">Deshacer admin</button>
          </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-6">
              <button class="btn btn-danger w-100" (click)="kick(member)">Echar</button>
            </div>
          </div>
      </div>
    </div>
  </div>
  <li class="list-group-item text-center">
    Tu 
    <app-icon [Icon]="icon_user"></app-icon>
    <app-icon [Icon]="icon_crown" *ngIf="user_role=='GROUP_MAKER'"></app-icon>
    <app-icon [Icon]="icon_wizard" *ngIf="user_role=='GROUP_ADMIN'"></app-icon>
  </li>
</ul>