<button class="btn btn-danger w-100 mb-1" 
        type="button" 
        data-toggle="collapse" 
        data-target="#groupUserList" 
        aria-expanded="true" 
        aria-controls="groupUserList"
        *ngIf="showHeader"
>Members</button>
<div class="collapse show" id="groupUserList">
  <ul class="list-group">
      <li class="list-group-item text-center"
          *ngFor="let member of members"
      >{{member.userName}}
        <app-icon [Icon]="icon_crown"
                  *ngIf="member.role=='GROUP_MAKER'"></app-icon>
        <app-icon [Icon]="icon_wizard"
                  *ngIf="member.role=='GROUP_ADMIN'"></app-icon>
      </li>
    </ul>
</div>