<div class="row">
  <div class="col-xl-6 mx-auto ">
        <div class="card">
              <div class="card-body">
                    <h6 class="card-title text-center mb-5">Recordar contraseña</h6>
                    <form [formGroup]="rememberPasswordForm" (ngSubmit)="rememberPassword()">
                          <div class="form-group">
                                <input type="email" 
                                      class="form-control" 
                                      placeholder="Tu correo electrónico"
                                      formControlName="email"
                                      autocomplete=on
                                      [ngClass]="{'is-invalid': !rememberPasswordForm.controls['email'].pristine && 
                                                  rememberPasswordForm.controls['email'].errors}">
                                <small class="text-danger"
                                      *ngIf="rememberPasswordForm.controls['email'].errors && 
                                            !rememberPasswordForm.controls['email'].pristine && 
                                            rememberPasswordForm.controls['email'].errors.required"
                                >Campo obligatorio</small>
                                <small class="text-danger"
                                      *ngIf="rememberPasswordForm.controls['email'].errors && 
                                      !rememberPasswordForm.controls['email'].pristine && 
                                      rememberPasswordForm.controls['email'].errors.email"
                                >Email no valido</small>
                          </div>
                          <div class="row justify-content-center mt-4">
                                <div class="col-12">
                                      <button type="submit" class="btn btn-outline-dark w-100" [disabled]="!rememberPasswordForm.valid">Recordar contraseña</button>
                                </div> 
                          </div>
                    </form>
              </div>
        </div>
  </div>
</div>