  
<div *ngIf="bets.length>1">  
  <select class="form-control" id="newBet_competitionSelect" (change)="selectCompetition()">
    <option selected disabled value="">Select a competition</option>
    <option *ngFor="let bet of bets; let i = index" value="{{i}}"
        >{{bet.competition}}</option>
  </select>


  <div class="collapse mt-2" id="newBet_competitionMatches">
    <div class="row">
      <div class="col-lg-7 col-12 mb-2">
        <div class="row">
          <div class="col-12">
            <select class="form-control" id="newBet_competitionMatches_select" 
                  (change)="selectMatchDay()"  [ngClass]="{'border border-warning': !selectedMatch}">
              <option selected disabled value="" >Select a match</option>
              <option value="{{i}}" *ngFor="let match of matches; let i = index"
                >{{match.match_name}}&nbsp;&nbsp;&nbsp;&nbsp;({{match.date|onlyDatePipe}})</option>
            </select>               
          </div>
          <div class="col-12" *ngIf="selectedBet && selectedPrice">
            <div class="row">
              <div [ngClass]="{'col-lg-6 col-12': !type_group_bet, 'col-12': type_group_bet}">
                <select class="form-control mb-2 mt-2" id="newBet_allowedDates_select" [ngClass]="{'border border-warning': !selectedMaxDay}"
                      *ngIf="selectedBet && selectedPrice" (change)="setDate()">
                  <option selected disabled value="" >Select the max day to do the bet</option>
                  <option value="{{date}}" *ngFor="let date of allowedDates">{{date|onlyDatePipe}}</option>
                  </select>   
              </div>
              <div class="col-lg-6 col-12" *ngIf="!type_group_bet">
                <div class="form-group row mb-2 mt-2" *ngIf="selectedBet && selectedPrice">
                  <label class="col-6 col-form-label">Fee</label>
                  <div class="col-6">
                    <input type="text" class="form-control" value="{{winRate}}" readonly>
                  </div>
                </div>
              </div>  
              <div class="col-12">
                <form [formGroup]="betForm" (ngSubmit)="launchBet()" *ngIf="selectedBet && selectedPrice && selectedMaxDay">
                  <div class="form-group row" *ngIf="!type_group_bet">
                    <label class="col-form-label col-lg-4 col-12">Min and max bet</label>
                    <div class="col-lg-4 col-6">
                      <select class="form-control" formControlName="minBet" id="minBet" 
                              (change)="setMaxBet()" [ngClass]="{'border border-warning': !betForm.controls.minBet.valid}">
                        <option selected disabled value="0" >Select a min bet</option>
                        <option value="{{min}}" *ngFor="let min of mins">{{min}}</option>
                      </select>
                    </div>
                    <div class="col-lg-4 col-6">
                      <select class="form-control" formControlName="maxBet" id="maxBet" 
                              (change)="setMinBet()" [ngClass]="{'border border-warning': !betForm.controls.maxBet.valid}">
                        <option selected disabled value="0" >Select a max bet</option>
                        <option value="10001">Without max</option>
                        <option value="{{max}}" *ngFor="let max of maxs">{{max}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group row" *ngIf="type_group_bet">
                      <label class="col-form-label col-lg-6 col-12">The bet</label>
                      <div class="col-lg-6 col-12">
                          <select class="form-control" formControlName="exactBet" 
                                  (change)="setExactBet()" [ngClass]="{'border border-warning': !betForm.valid}">
                            <option selected disabled value="0" >The bet</option>
                            <option value="{{min}}" *ngFor="let min of mins">{{min}}</option>
                          </select>
                        </div>
                  </div>
                  <button class="btn btn-dark w-100" type="submit" [disabled]="!betForm.valid">Launch Bet</button>
                </form>     
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-12">
        <div class="row">
          <div class="col-12 mb-2">
            <select class="form-control" id="newBet_betType_select" *ngIf="selectedMatch" 
                    (change)="setBetType()" [ngClass]="{'border border-warning': !selectedBet}">
                <option selected disabled value="" >Bet type</option>
                <option value="{{i}}" *ngFor="let allowedBet of allowedBets; let i = index"
                  >{{allowedBet.name}}</option>
            </select>                
          </div>
          <div class="col-12 mb-2" *ngIf="selectedBet">
            <div class="card card-body bg-light">
              <p class="card-text">{{explanationBetType}}</p>
            </div>
          </div>
        </div>
      </div>      
      <div class="col-lg-3 col-12">
        <div class="row">
          <div class="col-12 mb-2">
            <select class="form-control" *ngIf="selectedBet" id="newBet_priceType_select" 
                    (change)="setPriceType()" [ngClass]="{'border border-warning': !selectedPrice}">
                <option selected disabled value="">Prize type</option>
                <option value="{{i}}" *ngFor="let allowedPay of allowedPays; let i = index"
                  >{{allowedPay.name}}</option>
            </select>               
          </div>
          <div class="col-12 mb-2" *ngIf="selectedPrice">
            <div class="card card-body bg-light">
              <p class="card-text">{{explanationPriceType}}</p>
            </div>
          </div>
        </div>
      </div>      
    </div>
  </div>


  <button class="btn btn-primary" 
          type="button" data-toggle="collapse" 
          data-target="#newBet_competitionMatches" 
          aria-expanded="false" 
          aria-controls="newBet_competitionMatches"
          style="display:none"
          id="newBet_competitionMatches_button">
    InvisibleButton to launch the collapse 
    of choose a matchday in a specific competition
  </button>
</div>

<div *ngIf="bets.length == 0">
  <p class="h3">{{ errorMessage }}</p>
</div>